

#speaking{
    font-size: 40px;
}
#mom{
    font-size: 90px;
}

#speakingdad{
    font-size: 40px;
}
#dad{
    font-size: 90px;
}


#speakingyou{
    font-size: 40px;
}
#you{
    font-size: 90px;
}


#speakingbrother{
    font-size: 40px;
}
#brother{
    font-size: 90px;
}

#speakingsister{
    font-size: 40px;
}
#sister{
    font-size: 90px;
}

#speakingearth{
    font-size: 40px;
}
#earth{
    font-size: 90px;
}

#speakinggod{
    font-size: 40px;
}
#god{
    font-size: 90px;
}

#main{
    font-size: 45px;
}

#back{
    text-align: left;
    font-size: 40px;
}